<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Clinic demo</title>
  <style>
    #map{
      height:350px;
      width:100%;
    }
    #topbanner{
      background-color: #39A8C3;
      font-weight:bold;
      height: 40px;
      display: flex;
      align-items:center;
      justify-content: center;
      top:0;left:0;right:0;
    }
  </style>
</head>
<body style="background-color:#0A4D6A;margin:0;padding:0">

<div id="topbanner">
  <span style="color:white;font-family:Book Antiqua;">PhongKhamTot</span>
</div>
<br>
<input type="text" id="txtBox">
<button onclick="remSign(textInput)">Process</button>
<script>
var textInput = document.getElementById('txtBox').value
function remSign(txt){
  var original = txt.trim().toLowerCase();
  var noA = original.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g,"a");
  var noE = noA.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g,"e");
  var noI = noE.replace(/ì|í|ị|ỉ|ĩ/g,"i");
  var noO = noI.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g,"o");
  var noU = noO.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g,"u");
  var noY = noU.replace(/ỳ|ý|ỵ|ỷ|ỹ/g,"y");
  var noSpace = noY.replace(/\s/g,"-");
  return noY;
}
</script>

</body>
</html>
