<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Clinic demo</title>
  <style>
    #map{
      height:350px;
      width:100%;
    }
    #topbanner{
      background-color: #39A8C3;
      font-weight:bold;
      height: 40px;
      display: flex;
      align-items:center;
      justify-content: center;
      top:0;left:0;right:0;position:absolute;
    }
  </style>
</head>
<body style="background-color:#0A4D6A;margin:0;padding:0">

<div id="topbanner">
  <span style="color:white;font-family:Book Antiqua;">PhongKhamTot</span>
</div>
<div id="map"></div>
<script>

var options = {
    zoom:14,
    center:{lat:21.011981,lng:105.830821},
    fullscreenControl:false,
    maxZoom:19,
    minZoom:12,
    clickableIcons:false,
    disableDefaultUI: true,
    zoomControl:true
}

var firstMethod = function() {
   var promise = new Promise(function(resolve, reject){
     var data;
     var xhr = new XMLHttpRequest();
     xhr.open("POST", '/loadPlaces', true);
     //Send the proper header information along with the request
     xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
     xhr.onreadystatechange = function() {
     if (xhr.readyState == XMLHttpRequest.DONE) {
       data = xhr.response;
       resolve(data);
     }
     //else{
     //  data = [{"coords":{"lat":21.010964436190935,"lng":105.83456039428711},"description":"ddd","iconImage":"img/pharmacy.png"},
     //          {"coords":{"lat":21.014169360284292,"lng":105.82589149475098},"description":"first","iconImage":"img/clinic.png"}];
     //  resolve(data);
     //}
     };
     xhr.send(data);
   });
   return promise;
};

var secondMethod = function(someStuff) {
   var promise = new Promise(function(resolve, reject){
     //var markers = someStuff;
     var markers = JSON.parse(someStuff);
     // New map
     var map = new google.maps.Map(document.getElementById('map'), options);

     // Listen for click on map
     google.maps.event.addListener(map, 'click', function(event){
       // Add marker
       addMarker({coords:event.latLng});
       var latOutput = document.getElementById("latOutput");
       var lngOutput = document.getElementById("lngOutput");
       latOutput.innerHTML = event.latLng.lat();
       lngOutput.innerHTML = event.latLng.lng();
       });
       //var markers = [{"coords":{"lat":21.010964436190935,"lng":105.83456039428711},"description":"ddd","iconImage":"img/pharmacy.png"},         {"coords":{"lat":21.014169360284292,"lng":105.82589149475098},"description":"first","iconImage":"img/clinic.png"}];
     // Loop through markers
     for(var i = 0;i < markers.length;i++){
       // Add marker
       addMarker(markers[i]);
     }
     // Add Marker Function
     function addMarker(props){
       var marker = new google.maps.Marker({
         position:props.coords,
         map:map,
         //icon:props.iconImage
       });
       // Check for customicon
       if(props.iconImage){
         // Set icon image
         marker.setIcon(props.iconImage);
       }
       // Check content
       if(props.description){
         var infoWindow = new google.maps.InfoWindow({
           content:props.description
           });
         marker.addListener('click', function(){
           infoWindow.open(map, marker);
           });
         }
       }
     });
     return promise;
  };

function mapCanvasLoaded(){
  firstMethod()
   .then(secondMethod);
  }

function addPlace(){
  var xhr = new XMLHttpRequest();
  xhr.open("POST", '/addPlace', true);

  //Send the proper header information along with the request
  xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhr.onreadystatechange = function() {//Call a function when the state changes.
    if(xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {
      // Request finished. Do processing here.
      window.location.reload(); 
      }
    }
  var kinhdo = document.getElementById('latOutput').innerHTML;
  var vido = document.getElementById('lngOutput').innerHTML;
  var mota = document.getElementById('descOutput').value;
  var theloai = document.getElementById('typeOutput').value;
  xhr.send("lat="+kinhdo+"&"+"lng="+vido+"&"+"name="+mota+"&"+"type="+theloai);
  //Document.getElementById('submitBtn').style.visibility = 'hidden';  
     
  }

</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAhhuxSMKaj6e3s177F5p4ahJIaHTpiPE&callback=mapCanvasLoaded">
  </script>
  <br>
<div id="infoBox" style="padding: 5px;">
    <span style="color:#F4AA61;font-family:Book Antiqua;">Kinh do:</span> 
    <label id="latOutput" style="color:#F76458"></label><br>
    <span style="color:#F4AA61;font-family:Book Antiqua;">Vi do:</span> 
    <label id="lngOutput" style="color:#F76458"></label><br>
    <span style="color:#F4AA61;font-family:Book Antiqua;">Mo ta</span>
    <input type="text" id="descOutput" style="background-color:#0A4D6A;color:white"><br>
    <span style="color:#F4AA61;font-family:Book Antiqua;">The loai</span>
<select id="typeOutput" style="color:white;font-family:Book Antiqua;background-color:#0A4D6A">
  <option value="img/clinic.png">Phong kham</option>
  <option value="img/pharmacy.png">Hieu thuoc</option>
</select>
</div>

<script>

</script>
<button id="submitBtn" onclick="addPlace()">Nhap dia diem</button>
<label id="response" style="color:#F76458"></label>
<br>
</body>
</html>
